@model BasketViewModel

<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" aspcontroller="Basket" aspaction="Index">
            Basket
            <span class="badge bg-success" data-total-items>@Model.TotalItems</span>
        </a>
    </li>
</ul>